:root {
  --primary-bg-color: #719192;
  --secondary-color: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  --default-font-color: rgb(70, 57, 27);
  --default-font-family: "Amatic SC", cursive;
  --header-font-family: "Great Vibes", cursive;
}

body {
  background: var(--primary-bg-color);
  font-family: var(--default-font-family);
  font-weight: 700;
}

.hero,
.option {
  background: var(--secondary-color);
  margin: 25px;
  border-radius: 1%;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.hero h1 {
  font-family: var(--header-font-family);
  font-size: 57px;
}

.hero h2,
h3 {
  font-size: 40px;
  font-weight: 700;
}

.option {
  font-size: 29px;
  font-weight: 700;
}
